<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <title>{{ game.name }}</title>
</head>
<body>
    <nav>
        <div>
            <div><a href="/"><img id="Nav-icon" src="/misc/img/icons/hammer.png"></a></div>
            <div>Smith Games - Hammer</div>
            <span></span>
            <button id="Nav-games">Games</button>
            <div id="Nav-dropDown">
                <a href="/browse/All">All</a>
                <a href="/browse/Action">Action</a>
                <a href="/browse/Adventure">Adventure</a>
                <a href="/browse/Casual">Casual</a>
                <a href="/browse/Indie">Indie</a>
                <a href="/browse/MMO">MMO</a>
                <a href="/browse/Racing">Racing</a>
                <a href="/browse/RPG">RPG</a>
                <a href="/browse/Simulation">Simulation</a>
                <a href="/browse/Sports">Sports</a>
                <a href="/browse/Strategy">Strategy</a>
            </div>
        </div>

        <div>
            <a href="/cart"><img src="/misc/img/icons/cart.png"></a>
            <a href="/profile" class="Nav-LinkButton">Profile</a>
            <span></span>
            <a href="/logout" class="Nav-LinkButton">Logout</a>
        </div>
    </nav>

    <div id="Game-C">
        <div>
            <h1>{{ game.name }}</h1>
        </div>

        <div id="Game-CategoriesC">
          {% for category in game.categories %}
              <img src="/misc/img/icons/{{ category }}.png" title="{{ category }}">
          {% endfor %}
        </div>

        <div id="Game-InfoC">
            <div>
                <img src="{{ game.pictures[1] }}" id="Game-MainImg">

                <div id="Game-ImgsC">
                    <img src="{{ game.pictures[1] }}" class="Game-Imgs">
                    <img src="{{ game.pictures[2] }}" class="Game-Imgs">
                    <img src="{{ game.pictures[3] }}" class="Game-Imgs">
                    <img src="{{ game.pictures[4] }}" class="Game-Imgs">
                </div>
            </div>

            <div>
                <img src="{{ game.pictures[0] }}">

                <span>
                    {{ game.description }}
                </span>
            </div>
        </div>

        <div id="Game-BuyC">
            <h2>{{ game.name }}</h2>

            <div>
                {% if not game.ownedByUser %}
                    <span>
                        {% if game.price > 0 %}
                          {{ game.price }}€
                        {% else %}
                          Free
                        {% endif %}
                    </span>
                {% else %}
                    <span>Owned</span>
                {% endif %}

                {% if game.ownedByUser %}
                    {% if not game.inFavourite %}
                        <form method="post" action="/game/{{ game.id }}/f">
                            <button type="submit" id="Game-ToFavourite"></button>
                        </form>
                    {% else %}
                        <div id="Game-Favourite"></div>
                    {% endif %}
                {% elif not game.inCart %}
                    <form method="post" action="/game/{{ game.id }}/a">
                        <button type="submit" class="Button" id="Game-ToCart">Add to cart</button>
                    </form>
                {% endif %}
            </div>
        </div>

        {% if game.ownedByUser and not game.alreadyWrote %}
            <form id="Game-WriteReviewC" method="post" action="/game/{{ game.id }}/r">
                <h2>Write a review</h2>
                <span>Score:</span>
                <select name="score" required>
                    <option value="" disabled selected></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

                <textarea name="text" minlength="20" required></textarea>

                <button type="submit" class="Button">Send</button>
            </form>
        {% endif %}

        <div id="Game-ReviewsC">
            <div>
                <h2>Reviews</h2>
            </div>

            <div>
                {% for review in game.reviews %}
                    <div class="ReviewC">
                        <div>
                            {% if review.user.avatar %}
                              <img src="{{ review.user.avatar }}">
                            {% else %}
                              <img src="/misc/img/icons/user.png">
                            {% endif %}
                            <span>{{ review.user.username }}</span>
                        </div>

                        <div>
                            <div>
                                <span>{{ review.date }}</span>
                                <div>
                                    {% for i in range(0, 5 - review.rating) %}
                                        <img src="/misc/img/icons/hammerEmpty.png">
                                    {% endfor %}
                                    {% for i in range(0, review.rating) %}
                                        <img src="/misc/img/icons/hammer.png">
                                    {% endfor %}
                                </div>
                            </div>

                            <div>
                                <span {%  if review.text.length > 550 %} class="Review-WithoutName Review-HiddenText" title="Click to see the full review..." {% else %} class="Review-WithoutName" {% endif %}>{{ review.text }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer>
      <img src="/misc/img/icons/hammer.png">
      <span>Smith Games</span>

      <span>Copyright © 2016 Smith Games</span>
    </footer>

    <script type="text/javascript" src="/js/forAll.js"></script>
    <script type="text/javascript" src="/js/game.js"></script>
</body>
</html>
