<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Invalid URL</title>
</head>
<body>
    <div id="IURL-C">
        <img src="misc/img/icons/hammer.png">
        <h1>The requested URL does not exist, please try an other one.</h1>
    </div>
</body>
</html>
