<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Register</title>
</head>
<body>
    <nav>
        <div>
            <div><a href="/"><img id="Nav-icon" src="misc/img/icons/hammer.png"></a></div>
            <div>Smith Games - Hammer</div>
            <span></span>
            <button id="Nav-games">Games</button>
            <div id="Nav-dropDown">
                <a href="/browse/All">All</a>
                <a href="/browse/Action">Action</a>
                <a href="/browse/Adventure">Adventure</a>
                <a href="/browse/Casual">Casual</a>
                <a href="/browse/Indie">Indie</a>
                <a href="/browse/MMO">MMO</a>
                <a href="/browse/Racing">Racing</a>
                <a href="/browse/RPG">RPG</a>
                <a href="/browse/Simulation">Simulation</a>
                <a href="/browse/Sports">Sports</a>
                <a href="/browse/Strategy">Strategy</a>
            </div>
        </div>

        <div>
            <a href="/cart"><img src="misc/img/icons/cart.png"></a>
            <a href="/login" class="Nav-LinkButton">Login</a>
            <span></span>
            <a href="/register" class="Nav-LinkButton">Create Account</a>
        </div>
    </nav>

    <div id="Register-C">
        <form method="post">
            <h1>Create an account</h1>
            {% if old('errors') %}
                <label for="Register-UN">Username</label>
                <input type="text" name="username" id="Register-UN" {% if old('errors').username.error %} class="Register-Error" {% endif %} value="{{ old('errors').username.value }}" minlength="3" maxlength="80" required>
                <small id="Register-UNInfo" class="Register-Info">Min: 3, Max: 80 characters</small>

                <label for="Register-E">Email</label>
                <input type="text" name="email" id="Register-E" {% if old('errors').email.error %} class="Register-Error" {% endif %} value="{{ old('errors').email.value }}" required>
                <small id="Register-EInfo" class="Register-Info">Use an e-mail that is not yet registered</small>

                <label for="Register-FN">First name</label>
                <input type="text" name="firstname" id="Register-FN" {% if old('errors').firstname.error %} class="Register-Error" {% endif %} value="{{ old('errors').firstname.value }}" minlength="3" maxlength="80" required>
                <small id="Register-FNInfo" class="Register-Info">Min: 3, Max: 80 characters</small>

                <label for="Register-LN">Last name</label>
                <input type="text" name="lastname" id="Register-LN" {% if old('errors').lastname.error %} class="Register-Error" {% endif %} value="{{ old('errors').lastname.value }}" minlength="3" maxlength="80" required>
                <small id="Register-LNInfo" class="Register-Info">Min: 3, Max: 80 characters</small>

                <label for="Register-P">Password</label>
                <input type="password" name="password" id="Register-P" {% if old('errors').password.error %} class="Register-Error" {% endif %} minlength="6" maxlength="60" required>
                <small id="Register-PInfo" class="Register-Info">Min: 6, Max: 60 characters</small>

                <label for="Register-PA">Password again</label>
                <input type="password" name="passwordagain" id="Register-PA" {% if old('errors').passwordagain.error %} class="Register-Error" {% endif %} required>
            {% else %}
                <label for="Register-UN">Username</label>
                <input type="text" name="username" id="Register-UN" minlength="3" maxlength="80" required>
                <small id="Register-UNInfo" class="Register-Info">Min: 3, Max: 80 characters</small>

                <label for="Register-E">Email</label>
                <input type="text" name="email" id="Register-E" required>
                <small id="Register-EInfo" class="Register-Info">Use an e-mail that is not yet registered</small>

                <label for="Register-FN">First name</label>
                <input type="text" name="firstname" id="Register-FN" minlength="3" maxlength="80" required>
                <small id="Register-FNInfo" class="Register-Info">Min: 3, Max: 80 characters</small>

                <label for="Register-LN">Last name</label>
                <input type="text" name="lastname" id="Register-LN" minlength="3" maxlength="80" required>
                <small id="Register-LNInfo" class="Register-Info">Min: 3, Max: 80 characters</small>

                <label for="Register-P">Password</label>
                <input type="password" name="password" id="Register-P" minlength="6" maxlength="60" required>
                <small id="Register-PInfo" class="Register-Info">Min: 6, Max: 60 characters</small>

                <label for="Register-PA">Password again</label>
                <input type="password" name="passwordagain" id="Register-PA" required>
            {% endif %}

            <button type="submit" class="Button" id="Register-Submit">Submit</button>
        </form>
    </div>

    <footer id="Footer-NoContent">
      <img src="misc/img/icons/hammer.png">
      <span>Smith Games</span>

      <span>Copyright © 2016 Smith Games</span>
    </footer>

    <script type="text/javascript" src="js/forAll.js"></script>
    <script type="text/javascript" src="js/register.js"></script>
</body>
</html>
